@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Playfair+Display:ital@1&family=Raleway:ital@1&family=Tilt+Prism&display=swap');

*{
    padding: 0;
    margin: 0;
}


header{
    height:144px;
    background-color: #424242;
}
.logo{
    margin-top: 42px;
    margin-left: 50px;
}
a{
	text-decoration: none;
	justify-content: center;
	color: white;
}

nav ul{
    display: inline-block
}

ul li{
    display: inline-flex;
    margin-left: 150px;
    color: white;
    font-size: 20px;
    
}

.hero__container{
    background-image: url(funkos-banner.webp);
	display: flex;
	height: calc(100vh - 70px);
	align-items:center;
	color: #fff;
    opacity: inherit;
}

.hero__texts{
	width: 80%;
	margin-bottom: 50px;
    margin-left: 100px;
}

.hero__title{
	font-size: 3.2rem;

}

.hero__subtitle{
	font-size: 1.5rem;
	font-weight: 300;
	margin: 15px 0;

}

.hero__cta{
	display: inline-block;
	background-color: #fff;
	padding: 10px 50px;
	color:black;
	text-decoration: none;
	border-radius: 40px;
}

.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 80px 0;
	max-width: 1200px;
}

.about{
	min-height: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap:80px;
	justify-items:center;
	align-items: center;
}
button{
	padding: 10px 40px;
	background-color:#424242;
	color: white;
	border: 15px;
	border-radius: 20px;
	margin-top: 25px;
}
hr{
    border: 1.5px solid red;
	margin-top: 15px;
}

footer{
	height: 245px;
	background-color:#424242;

}

.propfot{
	color: white;
	font-family: 'Raleway', sans-serif;
	margin-left: 100px;
}

.logfot{
	margin-left: 1000px;
	margin-top: -50px;
}
h5{
	text-align: center;
	color:white;
	font-family: 'Raleway', sans-serif;
}


p{
	color: #4F4F4F;
	font-family:'Raleway', sans-serif;
	margin-top: 10px;
}

h4{
	display: flex;
	flex-wrap: wrap;
}
